.container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10vh 15vw;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    color: #232a34;
    gap: 10vh;
    position: relative;
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.top {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    z-index: 5;
}

.programs {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: flex-start;
}

.subtitle {
    font-size: var(--title2);
    font-weight: 300;
}

.title {
    font-weight: 700;
    font-size: var(--title);
}

.paragraph {
    font-size: var(--subtitle);
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    row-gap: 2%;
    justify-content: center;
    align-items: center;
}

.valueContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 3vh 2vw;
    background-color: var(--brandIn2);
    color: #f5f5f5;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    gap: 1vh;
    width: 100%;
}

.decoration {
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 0.1;
    scale: 1;
}

.circleContainer {
    width: 100%;
    height: 25vh;
    top: 0;
    left: 0;
    /* border-bottom-right-radius: 25%; */
    position: absolute;
    background-color: #fff;
    height: 25vh;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.serviceTitle {
    font-size: var(--subtitle);
    font-weight: 700;
    position: relative;
    color: var(--brandIn);
    margin-top: 25vh;
}

.serviceTitle::after {
    content: "";
    position: absolute;
    left: 15%;
    transform: translateX(-50%);
    bottom: -1.8vh; /* Adjust as needed */
    width: 30%;
    height: 2px;
    background-color: var(--brandIn);
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.serviceContainer:hover .title::after {
    width: 50%;
}

.icon {
    font-size: 64px;
}

.hr {
    width: 20%;
    transition: width .5;
    color: #f5f5f5;
}

.itemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bg);
    gap: .5vw;
    margin-bottom: .5vh;
    cursor: pointer;
    z-index: 5;
    background-color: var(--brandIn);
    padding: 2vh 4vh;
    border-radius: 16px;
    width: 100%;
    will-change: color background-color;
    transition: color .3s ease, background-color .3s ease;
}

.itemContainer:hover {
    color: var(--brandIn);
    background-color: var(--bg);
}

.description {
    height: 15vh;
    font-size: var(--paragraph);
    font-weight: 300;
    line-height: 20px;
    color: var(--brandIn);
    will-change: color;
    transition: color .3s ease;
    margin-top: 3vh;
}

.itemContainer:hover .description {
    color: var(--brandIn);
}

.serviceContainer:hover hr {
    transition: width 0.5s ease;
    width: 100%;
}

.button {
    margin-top: 1vh;
    max-width: max-content;
    padding: 16px;
    border: 1px solid #232a34;
    font-size: var(--paragraph);
    background-color: transparent;
    color: var(--brandIn);
    align-self: flex-end;
    z-index: 100;
    border-radius: 8px;
}

.button:hover {
    margin-top: 1vh;
    max-width: max-content;
    padding: 16px;
    border: 1px solid #232a34;
    font-size: var(--paragraph);
    background-color: var(--brandIn);
    color: var(--bg);
    align-self: flex-end;
    z-index: 100;
    border-radius: 8px;
}

.button2 {
    margin-top: 1vh;
    max-width: max-content;
    padding: 16px;
    border: 1px solid #232a34;
    font-size: var(--paragraph);
    background-color: #232a34;
    color: #f5f5f5;
    z-index: 100;
}

.button2:hover {
    margin-top: 1vh;
    max-width: max-content;
    padding: 16px;
    border: 1px solid #232a34;
    font-size: var(--paragraph);
    background-color: transparent;
    color: var(--brandIn);
    z-index: 100;
}


@media  (max-width: 799px) {

    .container {
        padding: 10vh 5vw;
    }

    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10vh;
    }

    .title {
        font-size: var(--mobileTitle);
    }

    .paragraph {
        font-size: var(--mobileSubtitle);
        text-align: center;
    }

    .subtitle {
        font-size: var(--mobileTitle2);
        font-weight: 300;
    }

    .valueContainer {
        height: 70vh;
        padding: 6vh 10vw;
    }

    .valueContainer2 {
        height: 80vh;
        padding: 6vh 10vw;
    }
    
    .serviceTitle {
        margin-top: 30vh;
        font-size: var(--mobileSubtitle);
    }

    .description {
        height: 15vh;
        font-size: var(--mobileSubtitle);
        font-weight: 300;
        line-height: 20px;
        color: var(--brandIn);
        will-change: color;
        transition: color .3s ease;
        margin-top: 3vh;
    }

    .button {
        font-size: var(--mobileSubtitle);
    }

    .circleContainer {
        width: 100%;
        height: 30vh;
        top: 0;
        left: 0;
        /* border-bottom-right-radius: 25%; */
        position: absolute;
        background-color: #fff;
        height: 30vh;
        overflow: hidden;
    }

    .image {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

}


@media (min-width: 799px) and (max-width: 999px) {

    .container {
        padding: 10vh 10vw;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5vw;
    }
    


}


@media (min-width: 1000px) and (max-width: 1199px) {

    .container {
        padding: 10vh 10vw;
    }

    .wrapper {
        grid-gap: 5vw;
    }

}


@media (min-width: 1200px) and (max-width: 1399px) {

    .container {
        padding: 10vh 15vw;
    }

}