.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0vh 15vw 10vh 15vw;
    justify-content: flex-start;
    gap: 10vh;
    background-color: #f5f5f5;
    position: relative;
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.top {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
    color: var(--brandIn);
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.paragraph {
    font-size: 24px;
}

.wrapper {
    width: 100%;
    display: flex;
    gap: 5vw;
}

.left {
    flex: 1;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    padding: 2vh 1vw;
    border-bottom: 1px solid #000;
    color: var(--brandIn);
    justify-content: space-between;
}

.activeBg {
    background-color: #3d86c613;
}

.visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    color: var(--brandIn);
}

.icon {
    width: 56px;
    height: 56px;
}

.title2 {

}

.expandIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
    transition: transform .5s ease;
    will-change: transform;
}

.activeIcon {
    transform: rotate(-90deg);
}

.right {
    flex: 1;
    background-color: var(--brandIn);
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    padding: 2vh 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease; 
    will-change: opacity;
    position: relative;
}

.showRight {
    opacity: 1;
}

.text {
    text-align: center;
    line-height: 28px;
    opacity: 0;
    transition: opacity .5s ease; 
    will-change: opacity;
}

.showText {
    opacity: 1;
}

.rombo {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--brandVariant);
    transform: rotate(45deg);
    opacity: .3;
}



@media  (max-width: 799px) {

    .container {
        padding: 0vh 5vw 10vh 5vw;
    }

    .wrapper {
        flex-direction: column;
    }

    .right {
        padding: 10vh 5vw;
    }

}


@media (min-width: 799px) and (max-width: 999px) {

    .container {
        padding: 0vh 5vw 10vh 5vw;
    }

}


@media (min-width: 1000px) and (max-width: 1199px) {

    .container {
        padding: 0vh 10vw 10vh 10vw;
    }

}


@media (min-width: 1200px) and (max-width: 1399px) {

    .container {
        padding: 0vh 10vw 10vh 10vw;
    }

}