.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10vh 15vw;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    color: #232a34;
    gap: 5vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    z-index: 5;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.paragraph {
    font-size: 24px;
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    row-gap: 2vw;
    justify-content: center;
    align-items: center;
}

.valueContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 20vw;
    min-width: 20vw;
    height: 50vh;
    padding: 6vh 3vw;
    background-color: var(--brandIn);
    color: #f5f5f5;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 32px;
    position: relative;
    overflow: hidden;
}

.decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.03;
}

.circleContainer {
    width: 20vh;
    height: 20vh;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
}

.image {
    width: auto;
    height: 20vh;
}

.serviceTitle {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    color: var(--brandIn2);
    margin-top: 15vh;
}

.serviceTitle::after {
    content: "";
    position: absolute;
    left: 17%;
    transform: translateX(-50%);
    bottom: -2vh; /* Adjust as needed */
    width: 30%;
    height: 1px;
    background-color: var(--brandIn2);
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.serviceContainer:hover .title::after {
    width: 50%;
}

.icon {
    font-size: 64px;
}

.hr {
    width: 20%;
    transition: width .5;
    color: #f5f5f5;
}

.description {
    font-size: 14px;
    line-height: 25px;
    color: var(--bgBrand);
    margin-top: 4vh;
}

.serviceContainer:hover hr {
    transition: width 0.5s ease;
    width: 100%;
}

.button {
    max-width: max-content;
    padding: 16px;
    border: 1px solid #232a34;
    font-size: 16px;
    background-color: #232a34;
    color: #f5f5f5;
}


@media (max-width: 600px) {

    .wrapper {
        height: 100%;
        flex-direction: column;
        margin: 10vh 0vw 10vh 0vw;
        align-items: center;
    }

    .serviceContainer {
        width: 90vw;
        gap: 2vh;
        padding: 50px;
    }

}


@media (max-height: 700px) and (min-width: 1000px) {


    .wrapper {
        margin: 15vh 5vw 15vh 5vw;
        gap: 1vw;
    }

    .serviceContainer {
        width: 30vw;
        padding: 25px;
    }

    .description {
        text-wrap: balance;
    }

}


@media (min-width: 601px) and (max-width: 999px) {

    .wrapper {
        height: 100%;
        flex-direction: column;
        margin: 10vh 0vw 10vh 0vw;
        align-items: center;
    }

    .serviceContainer {
        width: 60vw;
        padding: 25px;
    }

}