.container {
    height: 110vh;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    flex-direction: column;
    color: var(--textBright);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: relative;
    background-image: url('../../../../../public/images/formCover.jpg');
    padding: 10vh 15vw;
    gap: 32px;
}

.back {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #232a34;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    color: var(--textBright);
}

.top {
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.paragraph {
    font-size: 24px;
}

.description {
    width: 35vw;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    z-index: 5;
}

.formContainer {
    flex: 7;
    display: flex;
    padding: 0 20vw;
    margin-bottom: 20vh;
    margin-top: 10vh;
}

.left {
    flex: 1;
    background-color: var(--text);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    color: var(--textBright);
}

.contactTitle {
    font-size: 24px;
}

.iconsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-direction: row;
}

.socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    color: #fff;
    background-color: #55504d;   /*var(--bgBright)*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.whatsapp:hover {
    background-color: #25D366; 
}

.facebook:hover {
    background-color: #3B5999;
}

.instagram:hover {
    background-color: #E4405F;
}

.right {
    flex: 1;
    background-color: var(--textBright);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


@media (max-width: 600px) {

    .container {
        height: 65vh;
        will-change: transform;
    }

    .description {
        width: 80vw;
        line-height: 20px;
    }

}