.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    padding: 5vh;
    background-color: rgb(245, 245, 245);
    color: var(--brandIn);
}

.top {
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.paragraph {
    font-size: 24px;
    margin-left: 2px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.wrapper2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.serviceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    width: 20vw;
    height: 50vh;
    gap: 2vh;
    padding: 50px;
    background-color: #f5f5f5;
    color: #232a34;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.serviceTitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
    position: relative;
}

.serviceTitle::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2vh; /* Adjust as needed */
    width: 30%;
    height: 1px;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.serviceContainer:hover .title::after {
    width: 50%;
}

.icon {
    font-size: 64px;
}

.hr {
    width: 20%;
    transition: width .5;
    color: #f5f5f5;
}

.description {
    font-size: 14px;
    line-height: 25px;
    color: var(--bgBrand);
    text-align: center;
    margin-top: 4vh;
}

.serviceContainer:hover hr {
    transition: width 0.5s ease;
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100px * 17));
        transform: translateX(calc(-100px * 17));
    }
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.row::before,
.row::after {
    background: linear-gradient(to right, rgb(245, 245, 245, 1) 0%, rgb(245, 245, 245, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 11%;
    z-index: 2;
}

.row::before {
    left: 5;
    top: 0;
}

.row::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.rowSlider {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    animation: scroll 40s linear infinite;
    animation-direction: reverse;
}

.logo {
    flex-shrink: 0;
    width: auto;
    max-height: 80px;
    padding: 2vh 4vw;
    transition: padding ease .2s;
    will-change: padding;
}
