.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding: 15vh 10vw;
}

.wrapperLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    position: relative;
}

.cont {
    position: relative;
}

.title {
    font-size: var(--title2);
    position: relative;
}

.quotes {
    position: absolute;
    top: -25px;
    left: -20px;
    opacity: .5;
}

.badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

.badge {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.badgeTitle {
    text-align: center;
    line-height: 3vh;
    font-size: var(--paragraph);
}




@media  (max-width: 799px) {

    .container {
        padding: 10vh 5vw;
    }

}


@media (min-width: 799px) and (max-width: 999px) {

    .container {
        padding: 10vh 5vw;
    }


}


@media (min-width: 1000px) and (max-width: 1199px) {

    .container {
        padding: 10vh 5vw;
    }


}


@media (min-width: 1200px) and (max-width: 1499px) {

    .container {
        padding: 15vh 5vw;
    }

}